//- Logotipo
h1.header__logotipo
//- Menu Principal
nav.header__menu
    //- Opción de cambio general
    block link_index
        a.menu__quienes(href="index.html") Quienes Somos
    block link_galeria
        a.menu__galeria(href="galeria.html") Galeria
    block link_blog
        a.menu__blog(href="blog.html") Blog