//- Variables
include ../config/config
//- Mixins


<!DOCTYPE html>
html(lang="en")
    //- HEAD
    include head.pug

    //- BODY
    body

        //- HEADER
        header.header
            include header.pug

        //- MAIN
        main.main
            block main
        
        //- FOOTER
        footer.footer
            include footer.pug





